* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-main-color: #0a0a0b;
  --text-main-color: #ffffff;
  --btn-bg-color-hover: #4177dc;
  --btn-bg-color-active: #608ce2;
  --btn-bg-color: #306ad9;
  --icon-color: #babec4;
}

body {
  font-family: "Exo Regular";
  color: var(--text-main-color);
  background-color: var(--bg-main-color);
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------------------------------------ header started --------------------------- */
header {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.nav__list--item {
  list-style-type: none;
}

.nav__list--item--link {
  text-decoration: none;
  color: var(--text-main-color);
}

.nav__list--item--link:hover {
  color: var(--icon-color);
}
.active {
  text-shadow: 0px 0px 32px #346dda;
  color: var(--btn-bg-color-hover);
}

/* -------------------------------------------- header ended ---------------------------- */

/*  -------------------------------------------- intro started ------------------------------ */
.intro {
  width: 100%;
  height: auto;
  position: relative;
}

.intro::before {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  left: -138px;
  top: -28px;
  position: absolute;
  background: rgba(55, 74, 109, 0.5);
  filter: blur(90px);
}
.intro::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  left: 1031px;
  top: 404px;
  background: rgba(55, 74, 109, 0.5);
  filter: blur(90px);
}
.wrapper {
  /* background-color: rgb(70, 69, 69); */
  text-align: center;
}
.intro__title {
  font-family: "Exo semibold";
  margin-top: 72px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
}
.intro__subtitle {
  font-family: "Exo semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
}

.wrapper > span {
  font-family: "Exo Regular";
  margin-top: 8px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--icon-color);
}

.intro__car {
  margin-top: 48px;
}

.intro_info {
  width: 406px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px auto;
  height: 104px;
}

.intro__text {
  width: 90px;
  height: 90px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  margin: 91px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #02db8a;
  filter: drop-shadow(0px 0px 16px #02db8a);
  border-radius: 50%;
}

.intro__text > h2 {
  border: 2px solid #02db8a;
  /* filter: drop-shadow(0px 0px 16px #02DB8A); */
  width: 70px;
  font-weight: 500;
  height: 70px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.intro__text:hover h2 {
  filter: drop-shadow(0px 0px 16px #02db8a);
}
/*  ----------------------------------------------- intro finished ------------------------- */

.about {
  padding: 72px 0px 88px;
  position: relative;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__left {
  position: relative;
}
.about__img {
  border-radius: 8px;
}

.about__info {
  max-width: 197px;
  width: 100%;
  padding: 16px 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 20px;

  position: absolute;
  bottom: -50px;
  right: 0;
}

.about__info--title {
  font-family: "Exo Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
}

.about__right__info {
  max-width: 401px;
  width: 100%;
}

.about__right__info--title {
  max-width: 209px;
  width: 100%;
  margin-bottom: 24px;
  color: #f1f2f3;
}

.about__right__info__desc {
  font-size: 16px;
  line-height: 140%;
  color: #babec4;
  margin-bottom: 48px;
}

.about__rigt__info__button {
  padding: 14px 32px;
  background: #4177dc;
  border-radius: 8px;
  color: #ffffff;
}
/* -----about end */

/* popular start */

.popular {
  padding: 72px 48px;
}

.popular__title {
  margin: 0 auto 64px;
  max-width: 278px;
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #f1f2f3;
}

.popular__cards {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.popular__card {
  background: #111213;
  border-radius: 20px;
  padding: 32px 22px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.popular__card--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #f1f2f3;
  width: 100%;
}

.popular__card--text {
  font-size: 16px;
  line-height: 140%;
  color: #babec4;
  width: 100%;
  margin-bottom: 12px;
}

.popular__card--img {
  margin-bottom: 22px;
}

.popular__card--info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.popular__card--info--desc {
  display: flex;
  align-items: center;
  margin-right: 5px;
  max-width: 90px;
  width: 100%;
  margin-bottom: 8px;
}

.popular__card__price {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}

.popular__shopping__wrapper {
  width: 56px;
  height: 48px;
  background: #4177dc;
  border-radius: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.popular__card::before {
  content: "";
  color: #374a6d;
  position: absolute;
  width: 190px;
  height: 190px;
  left: -80px;
  top:-48px;
  background: rgba(55, 74, 109, 0.5);
  filter: blur(60px);
}

/* .popular__card::after {
} */
